.junior-button {
    box-shadow:inset 0px 0px 14px -3px #d3f083;
	background:linear-gradient(to bottom, #e67d38 5%, #f3f7ef 80%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
    margin-top: 50px;
    width: 25%;
    height: 250px;
    margin-left: 6%;
}

.junior-button:hover {
	background:linear-gradient(to bottom, #e67d38 5%, #dbe6c4 100%);
	background-color:#e67d38;
}
.junior-button:active {
	position:relative;
	top:1px;
}