.button-senior{
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
	background:linear-gradient(to bottom, #e25137 5%, #f3f7ef 80%);
	background-color:#dbe6c4;
	border-radius:6px;
	border:1px solid #b2b8ad;
	display:inline-block;
	cursor:pointer;
	color:#757d6f;
	font-family: 'Roboto', sans-serif;
	font-size:30px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ced9bf;
    margin-top: 50px;
    width: 25%;
    height: 250px;
    margin-left: 6%;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.button-senior:hover {
	background:linear-gradient(to bottom, #e25137 5%, #dbe6c4 100%);
	background-color:#e25137;
}
.button-senior:active {
	position:relative;
	top:1px;
}